---
title: CV
home: passive
cv: active
projects: passive
notes: passive
contact: passive
lang: ru
ref: cv
---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body>
		<div class="container">
			<div class="header">
				<h3 class="text-muted">
					<a href="/">Ксения Прoкофьeва</a>
					
				</h3>
				
				
				
							
	<div class="mh-contributor">
    <div class="mh-simple-image">
        <div class="mh-simple-image__responsive" style="padding-bottom:0%;"><img src="/images/23.jpg" sizes="84px"  class="mh-simple-image__img"></div>
    </div>
    <div class="mh-contributor__details">
        <strong class="mh-contributor__name">IT-специалист </strong>
        <p class="mh-contributor__role">В области масс-медиа</p>
    </div>
</div>		
	
				
				
				
				
				
				
			</div>
			
			
		
		
			
			
			
			
			
			
			

		
			
			
			<!-- /header -->
			<div class="cv" style="margin-top: 0px;">
				<!--<a href="/cv/cv-kp.pdf" class="btn btn-default pull-right" title="Резюме в PDF">Резюме в PDF</a> -->
				<div itemscope itemtype="http://data-vocabulary.org/Person">
					<span itemprop="name">
					</span>

	<!-- <ul class="skills">
						<li> 
IT специалист в сфере масс-медиа 
		</li>
						
						<li>
							Монтаж видео для социальных сетей
						</li>
		
		
		
			<li>
							Создание аудиоконтента
						</li>
		<li>
							Разработка и продвижение сайтов
						</li>
						
					
					</ul>-->
                    
                    					<address>
						<span itemprop="affiliation">
							<br>
						</span>
						<span itemprop="affiliation">
							<strong>
								Москва
								<br>
							</strong>
						</span>
						<abbr title="phone">
							Тел:
						</abbr>
						+7.960.709.5173
						<br>
						<span>
							oxanapro@zoho.com
						</span>
					</address>
                    
                    
				</div>
				<h2>
					Образование
				</h2>
				<p>
					<strong>
						<abbr title="Программа: Информатика и Коммуникации">
							Магистратура
						</abbr>
						, City University, 2010, Факультет Информатики.
					</strong>
					<br>
				</p>
				<p>
					<strong>
						<abbr title="Программа: Информатика и вычислительная техника.">
							Бакалавриат
						</abbr>
						, Московский Технологический Институт, Cпециальность: "Программное обеспечение".
					</strong>
				</p>
				<h2>
					Опыт Работы
				</h2>
				
				<p>
					<strong>
						Телеканал СПАС, Май 2019 - Настоящее время
					</strong>
				</p>
				<ul>
					<li>
						Монтаж видео
					</li>
					<li>
						Придумывание названий
					</li>

				</ul>
				
				
				
				<p>
					<strong>
						Pravoslavieat, Ноябрь 2015 - Март 2019
					</strong>
				</p>
				<ul>
					<li>
						Администрирование сайта
					</li>
					<li>
						Разработка Intranet-части сайта
					</li>
					
				</ul>
				<p>
					<strong>
						IPES Январь 2014 - Сентябрь 2015
					</strong>
				</p>
				<ul>
					<li>
						Установка программного обеспечения
					</li>
					<li>
						Интеграция баз данных оффлайн и онлайн
					</li>
					<li>
						Cоставление технической документации
					</li>
					
				</ul>
				<p>
					<strong>
						Healthwareweb, Май 2012 – Апрель 2015
					</strong>
				</p>
				<ul>
					<li>
						Создания документации к информационным системам (схем архитектуры и процессов, API взаимодействия).
					</li>
					
					<li>
						Подготовка отчетов по посещаемости сайта
					</li>
				</ul>
				<p>
					<strong>
						CSW, Март 2011 - Апрель 2012
					</strong>
				</p>
				<ul>
					<li>
						Администраия сайта
					</li>
					
					<li>
						Размещение видио-контента. SEO-оптимизация
					</li>
				</ul>
				<h2>
					Область Компетенции
				</h2>
				<dl class="dl-horizontal">
					<dt>
						Языки
					</dt>
					<dt>
						Программирования
					</dt>
					<dd>
						HTML/CSS, Java Script, SVG.
					</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>
						Средства
					</dt>
					<dt>
						Разработки
					</dt>
					<dd>
						Sony VegasPro (видео), Adobe Creative Suite, Генераторы статических сайтов (Hugo), WordPress, Git.
					</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>
						Видео
					</dt>
					<dd>
						Тегирование, работа с плейлистами, конвертация видеофайлов в веб-формат.
					</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>
						Аналитика
					</dt>
					<dd>
						SEO and Google Analytics.
					</dd>
				</dl>
				<dl class="dl-horizontal">
					<dt>
						Языки
					</dt>
					<dd>
						Английский (свободный).
					</dd>
				</dl>
			</div>
			{% include footer.html %}
		</div>
		<!-- /container -->
		{% include scripts.html %}
	</body>

</html>
