

        

<div class="header headerlarge">
    
     <div class="col-md-4">    
    <ul class="nav nav-pills ">                    
                 
            
            <a href="/">
            <li class="pull-left">
                <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*Qzbam57EQ0eu0UMGodrMTg.png">

            </li>
        </a>
             </ul>
                       </div>
          <div class="col-md-8">
        
         <ul class="nav nav-pills ">  
            
           

         <!--<li class="pull-left {{ page.cv }}"><a href="/cv" title="CV">CV</a></li>-->

        <!-- <li class="pull-left {{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>-->
        <!-- <li class="{{ page.notes }}"><a href="/notes" title="notes">Notes</a></li>-->
        <!-- https://media.giphy.com/media/wvzQRJ5q6WSNW/source.gif (nice logo)-->
                     
            </div>

    </ul>
</div>
<!-- /header -->
   
           
