
<div class="header">

    <ul class="nav">
        <a href="/">
            <li class="pull-left">
                <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*Qzbam57EQ0eu0UMGodrMTg.png">

            </li>
        </a>
        
        



        <li class="pull-right languages" id="languages"  {{ page.cv }}"><a href="/index-en" class="en" title="en">En</a></li>
                                                                              
      <!--  <li class="pull-right {{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li> -->
        <!-- <li class="{{ page.notes }}"><a href="/notes" title="notes">Notes</a></li>-->
        <!-- https://media.giphy.com/media/wvzQRJ5q6WSNW/source.gif (nice logo)-->

    </ul>

</div>
<!-- /header -->
