
<div class="header">

    <ul class="nav">
        <a href="/">
            <li class="pull-left">
                <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*Qzbam57EQ0eu0UMGodrMTg.png">

            </li>
        </a>
        
        
<li class="pull-left"> <a href="/notes/video.html" class="en" title="en">ыа<span class="languages" id="languages"></span></a> </li>


    
                                                        
  
                                                                                                  
       </li>
                                                                              
     
    </ul>

</div>
<!-- /header -->
