
<div class="header">

    <ul class="nav">
        
        <a href="/">
            <li class="pull-left">
                <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*Qzbam57EQ0eu0UMGodrMTg.png">

            </li>
        </a>
        
   <a href="/notes/video.html" class="efn" title="en">     
<li class="pull-right">
        <img class="lofgo" src="/en.jpg">
         	
</li>

</a> 
    
                                                        
  
                                                                                                  
       </li>
                                                                              
     
    </ul>

</div>
<!-- /header -->
