

        

<div class="header headerlarge">
    
     <div class="col-md-4">   
             
             
             
             <div class="header">

				
				
				
							
	<div class="mh-contributor">
    <div class="mh-simple-image">
        <div class="mh-simple-image__responsive" style="padding-bottom:0%;"> <a href="/"> <img src="/images/23.jpg" sizes="84px" class="mh-simple-image__img">   </a></div>
    </div>
    <div class="mh-contributor__details">
        <strong class="mh-contributor__name">Мои работы</strong>
        <p class="mh-contributor__role">Озвучка, съемка, монтаж </p>
    </div>
</div>		
		
				
			</div>
             
             
             
             
  
           

         <!--<li class="pull-left {{ page.cv }}"><a href="/cv" title="CV">CV</a></li>-->

        <!-- <li class="pull-left {{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>-->
        <!-- <li class="{{ page.notes }}"><a href="/notes" title="notes">Notes</a></li>-->
        <!-- https://media.giphy.com/media/wvzQRJ5q6WSNW/source.gif (nice logo)-->
                     
            </div>

    </ul>
</div>
<!-- /header -->
   
           
