<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=320, initial-scale=1, user-scalable=yes">
	<meta name="description" content="{{ page.description }}">
		<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	
	

	
	
	<link rel="alternate" type="application/atom+xml" href="atom.xml" title="Atom feed">
	

	
	<title>{{ page.title }} 

	</title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/languages/languages.min.css" rel="stylesheet">
	
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}	
	{% feed_meta %}
	
	
	
	
	
	
	
	
	
</head>
