	

<div class="row welcome_bar">
    <div class="col-md-2 col-md-offset-1"><a href="/notes/razrabotka.html">разработка<span class="badge-category-razrabotka"></span> </a></div>
    <div class="col-md-2"><a href="/notes/video.html">видео<span class="badge-category-video"></span></a></div>
    <div class="col-md-2"><a href="/notes/medtech.html">медтех<span class="badge-category-medtech"></span></a></div>
    <div class="col-md-2">ytu</div>
    <div class="col-md-2">tut</div>
</div>
<div>
<br>
<p> Пишу о том что интересно: веб дизайн: HTML, CSS, presentational JavaScript. Еще нравится снимать и монтировать видео, просто нравится поэтому иногда об этом тоже.  </p>
<br>

</div>

