<div class="notelist">
    {% for post in site.posts %}
    <ul class="listnotes list-unstyled">
        <li>
            
                    <h1 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h1> 
           <img class = "post-list-image" src="{{ post.thumbnail }}"/>
           
             <!-- Categories-->
                   <div class="post-categories">
  {% if post %}
    {% assign categories = post.categories %}
  {% else %}
    {% assign categories = page.categories %}
  {% endif %}
  {% for category in categories %}
  <a class="label label-tag" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
  {% unless forloop.last %}&nbsp;{% endunless %}
  {% endfor %}
</div> 
                  <!-- /Categories-->
                        
  
                           {{ post.content }}
                       
                        
                  
                        </li>
        
    
    </ul>
    {% endfor %}
</div><!--/.notelist -->
