<section id="toolset">
                

                <ul>
                    <li><i class="fa fa-github" aria-hidden="true"></i></i> 
                      GitHub</li>
                    <li><i class="fab fa-php"></i> PHP</li>
                    <li><i class="fab fa-sass"></i>Sass</li>
                    <li>
                      
                      
                      
                     <i class="fab fa-wordpress"></i>   Wordpress</li>
                    <li><i class="fab fa-vuejs"></i>Vue</li>
                    <li><i class="fab fa-html5"></i> HTML5</li>
                    
<li><i class="fab fa-linux"></i>Linux</li>



                </ul>
            </section>

