---
layout: large
title: video collection
cv: passive
notes: passive
contact: passive
---

<div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-12">
         <div class="pageHeading">
            <h1 class="mainHeading">Мои работы</h1>
            <h4 class="subHeading">Озвучка, съемка, монтаж. </h4>
         </div>
         
            <div class="col-md-1">               
   </div>
         </div>
       </div>
    </div>
      


         
        <div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-4">
    
                 <div class="resource--content-headline headline__first">Подводки к песням</div>
       
         
         <div class="media-body">
             <p> Школа радиоведущих.</p>
         </div>
      </div>
      <div class="col-md-8">
        
         
 <audio src="/images/целиком-кор.mp3" controls="controls" preload="auto"></audio>
<div class="article-media-caption"><figcaption> Радио подводки</figcaption> </div>
        
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
    </div>




   

        





<div class="row video-row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline">Озвучивание фильма</div>
         
         
         
    {% include youtube.html id="vwilBq-AkAw " %}  

         
         
         
         
         
         
         <div class="media-body">
            <p>Школа радиоведущих. Мне достался ролик из фильма Белоснежка и Охотники.  Основная сложность заключалась в том, чтобы правильно передать эмоции и при этом попадать в английский текст.  </p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline">Озвучивание рекламы </div>
         {% include youtube.html id="gtBAT7cHxzo " %} 
         <div class="media-body">
            <p>Школа радилведущих. </p>
         </div>
      </div>
   </div>
   <div class="col-md-1">                
   </div>
</div>
         
         

         
         































<div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-12">
         <div class="pageHeading">
            <h1 class="mainHeading">Аудио</h1>
            <h4 class="subHeading">Озвучка рекламы, музыкальные подводки. </h4>
         </div>
         
            <div class="col-md-1">               
   </div>
         </div>
       </div>
    </div>
      


         
        <div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-4">
    
                 <div class="resource--content-headline"></div>
         {% include youtube.html id="irchH1IGIP8 " %} 
         
         <div class="media-body">
            
         </div>
      </div>
      
            <div class="col-md-4">
    
                 <div class="resource--content-headline"></div>
         {% include youtube.html id="iZq9Jc8mYso" %} 
         
         <div class="media-body">
           
         </div>
      </div>
      
            <div class="col-md-4">
    
                 <div class="resource--content-headline"></div>
         {% include youtube.html id="4uqGUNi_vPg" %}
         
         <div class="media-body">
             <p>Парсуна</p>
         </div>
      </div>
     
   </div>
   <div class="col-md-1">               
   </div>
</div>
    </div>
        





<div class="row video-row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline"></div>
         {% include youtube.html id="cEZKiVlNXbs" %} 
         <div class="media-body">
            <p>Казарновская </p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline"> </div>
   
                  {% include youtube.html id="irchH1IGIP8 " %} 
        
         <div class="media-body">
            <p>  </p>
         </div>
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
         
         






<div class="row video-row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline"> </div>
         {% include youtube.html id="4uqGUNi_vPg" %} 
         <div class="media-body">
            <p>Подводки к песням. Нужно было выбрать любимые пять песен в формате Европа-плюс.  </p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline"> </div>
         {% include youtube.html id="Cg5arAHWnyw" %} 
             
   
         <div class="media-body">
            <p>  </p>
         </div>
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
         







<div class="row video-row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline"></div>
         {% include youtube.html id="DcjevO-APi8 " %} 
         <div class="media-body">
            <p> </p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline"></div>
         {% include youtube.html id="BbKWdlfyANE " %} 
             
        
         <div class="media-body">
            <p>  </p>
         </div>
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
         




<div class="row video-row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline">Озвучка рекламного ролика</div>
         
         
         
    {% include youtube.html id="07eH5GwYtQ8" %}

         
         
         
         
         
         
         <div class="media-body">
            <p>Это первый черновик видео. Сюда не вошли видео с докладов поэтому стиль, музыка все подбиралось под то, что было. А то, конечно, был бы хэви-метал.</p>
         </div>
      </div>
      <div class="col-md-6">
         <div class="resource--content-border" style="border-color:#212121"></div>
         <div class="resource--content-headline">Озвучка </div>
         {% include youtube.html id="gtBAT7cHxzo " %} 
         <div class="media-body">
            <p>  </p>
         </div>
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
         
         





















<div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-12">
         <div class="pageHeading">
            <h1 class="mainHeading">Аудио</h1>
            <h4 class="subHeading">Озвучка рекламы, музыкальные подводки. </h4>
         </div>
         
            <div class="col-md-1">               
   </div>
         </div>
       </div>
    </div>
      


         
        <div class="row">
   <div class="col-md-1">               
   </div>
   <div class="col-md-10">
      <div class="col-md-4">
    
                 <div class="resource--content-headline"></div>
         {% include youtube.html id="hHb6FH5eDaw " %}
         
         <div class="media-body">
             <p>Подводки к песням. Нужно было выбрать пять песен и сделать к ним музыкальные подводки в формате Европа-плюс.</p>
         </div>
      </div>
      <div class="col-md-8">
        
         
         
 <audio src="/media/google.mp3" controls="controls" preload="auto"></audio>
<div class="article-media-caption"><figcaption> Пять трендов Google</figcaption> </div>
        
      </div>
   </div>
   <div class="col-md-1">               
   </div>
</div>
    </div>
        
         




