<!DOCTYPE html>
<html lang="ru">


<body>  
     {% include head.html %}





<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- left sidebar -->
        <div class="col-md-2 fixed">

        </div>
        <!-- center content -->
        <div class="col fluid d-flex flex-column">
  
             
             
             <div class="header headerlarge">
    
   
    <ul class="nav nav-pills ">                    
                 
            
            <a href="/">
            <li class="pull-left">
                <img class="logo" src="https://cdn-images-1.medium.com/max/1200/1*Qzbam57EQ0eu0UMGodrMTg.png">

            </li>
        </a>

    </ul>

<!-- /header -->
   
             
             
            </div>
               </div>
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             
             

            <!-- main content -->
            <div class="row flex-grow">


     {{ content }}
            </div>

            <footer class="navbar navbar-toggleable-xl navbar-faded navbar-light">
            </footer>

        </div>
        <!-- right sidebar -->
        <div class="col-md-2 fixed">

        </div>
    </div>
</div>

    {% include scripts.html %}

</body>
</html>
