<!DOCTYPE html>
<html lang="ru">
  
  
   <head>
               
               
               
                 <style>
    .header {
    border-bottom: 0px solid #e5e5e5;
}
  </style>
               
       </head>
  
  
  
  
  <div class="header headerlarge">
    
     <div class="col-md-4">   
             
            
                 



				
				
				
							
	<div class="mh-contributor">
    <div class="mh-simple-image">
        <div class="mh-simple-image__responsive" style="padding-bottom:0%;"> <a href="/"> <img src="/images/23.jpg" sizes="84px" class="mh-simple-image__img">   </a></div>
    </div>
    <div class="mh-contributor__details">
        <strong class="mh-contributor__name">Проба пера</strong>
        <p class="mh-contributor__role">Озвучка, съемка, монтаж </p>
    </div>
</div>		
		
				
			</div>
             
             
             
                     
            </div>

  
</div>
<!-- /header -->
   
  
  

<body>  
     
    <div class="container-fluid">   
        <div class="row">
            <div class="col-md-1">               
            </div>
            <div class="col-md-10">
                {% include headerlarge.html %}
            </div>
             <div class="col-md-1">                
            </div>
        </div>
        <!-- /row -->
      
       {{ content }}

        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6">
           
            </div>
            <!-- /md-6 -->
            <div class="col-md-3">
                
            </div>
        </div>
        <!-- /row -->

    </div>
    <!-- /container -->

    {% include scripts.html %}

</body>
</html>
